.sectionPreco {
    background-color: #101820;
    /* fundo escuro */
}

.card-preco {
    background-color: rgba(255, 255, 255, 0.05);
    /* leve transparência */
    border: none;
    backdrop-filter: blur(4px);
}

.card-header>h3,
.card-body>h4,
.card-body>h3,
.card-body>p,
.card-body>div,
.card-body>ul,
.card-body>ul>li,
.card-body>ul>li>span,
.card-body>ul>li>span>svg
{
    background-color: rgba(0, 0, 0, 0) !important;
    color: black;
}

.texto-preto {
    color: #000000;
}

.corLaranja {
    color: #f2aa4c !important;
}

.icone-vermelho {
    color: #e63946 !important;
}

.btn {
    padding: 12px 0;
}

.card-body
{
    background-color: #ffffffec;
}

.card-preco{
    border-radius: 10px;
}

@media (max-width: 900px) {
    .card {
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-body ul {
        font-size: 0.9rem;
    }
}