.sectionPreco {
    background-color: #000;  /* fundo preto */
    padding: 60px 20px;
}

.card-preco {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card{
    --bs-card-bg: black!important;
}

.card-preco:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.8);
}

.card-header > h3 {
    font-size: 1.6rem;
    color: #fff;
    border-block-start: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.text-line{
    color: rgba(139, 37, 37, 0.699)!important;
}
.card-body > h3 {
    font-size: 2rem;
    color: #f2aa4c;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

.card-body > p {
    color: #ddd; 
    margin: 1rem!important;
}

.card-body ul {
    color: #ccc;  /* lista em cinza claro */
    padding-left: 0;
}

.card-body ul li span {
    color: inherit;
}

.card-body{
    margin-bottom: 1rem ;
}

.btn {
    padding: 12px;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-warning {
    background-color: #f2aa4c;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #d18e32;
    color: #000;
}

.btn-dark {
    background-color: #333;
    color: #fff;
    border: none;
}

.btn-dark:hover {
    background-color: #555;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.corLaranja {
    color: #f2aa4c !important;
}

.icone-vermelho {
    color: #e63946 !important;
}

@media (max-width: 900px) {
    .card-title {
        font-size: 1.3rem;
    }

    .card-body ul {
        font-size: 0.9rem;
    }
}
