.itemBranca {
    padding: 1rem!important;
    color: #070707;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #ffffffad;
}


.list-group-dark {
    padding: 0;
    list-style: none;
}

.corLaranja {
    color: var(--cor-primaria) !important;
}

.botao{
    margin-top: 1rem;
    padding: 1px!important;
}