.section-Fabricio {
    background-image: url(../../../assets/images/Background2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.img-fabricio {
  width: 100%;
  height: auto;
  object-fit: cover;
}
