* {
  background-color: black;
  --cor-primaria: #ff914d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
div,
li,
ul,
ol,
svg,
img,
del,
button {
  background-color: transparent;
}

h1, .display-5, .display-4, .titulo1 {
  font-size: 2.5rem;
  line-height: 1.2;
  min-height: 3rem; 
}

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bandeirinhas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 9999;
  pointer-events: none; /* para não atrapalhar clique nos botões abaixo */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imagem-redonda {
  border-radius: 50%;
  object-fit: cover;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton.woff2') format('woff2'),
    url('/fonts/Anton.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  src: url('/fonts/Poppins-Thin.woff2') format('woff2'),
       url('/fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bitcrusher';
  font-style: normal;
  font-weight: 700;
  src: local('Bitcrusher'), url('https://fonts.cdnfonts.com/s/19003/bitcrusher condensed bd.woff') format('woff');
  font-display: swap;
}